<section class="food_diary_app">
    <header class="header">
        <h1>Log In To Your Account</h1>
        <%= form_tag(sessions_path) do %>
            <p> Email: <%= text_field_tag :email, '', :class => 'new-food-diary', placeholder: 'Enter your email' %></p>
            <p> Password: <%= password_field_tag :password, '', :class => 'new-food-diary', placeholder: 'Enter your password' %></p>
            <%= submit_tag :Submit %>
        <% end %>
        <br>
        <%= link_to 'Sign In With GitHub', '/auth/github' %>
        <br>
        <%= link_to 'Create A New Account', new_user_path %>
    </header>

    <footer class="footer">
    </footer>
</section>