<h3><strong><%= @food.name %></strong></h3>
<fieldset>
<p><strong>Serving Size: </strong><%= @food.serving_size %> <%= @food.serving_unit %></p>
</fieldset>
<fieldset>
    <p>
        <strong>Number Of Servings: </strong>    
        <% if @entry_food.servings %>
            <%= @entry_food.servings %>
        <% else %>
            n/a
        <% end %>
    </p>
    <p><strong>Meal: </strong>
        <% if @entry_food.meal %>
            <%= @entry_food.meal %>
        <% else %>
            Uncategorized
        <% end %>
    </p>

    <%= link_to "Update", edit_entry_food_path(@entry_food) %>
</fieldset>

<% if @entry_food.servings %>
    <fieldset>
        <p><strong>Calories: </strong><%= @food.calories * @entry_food.servings %> kcal</p>
        <p><strong>Carbohydrates: </strong><%= @food.carbs * @entry_food.servings %> g</p> 
        <p><strong>Fat: </strong><%= @food.fat * @entry_food.servings %> g</p>
        <p><strong>Protein: </strong><%= @food.protein * @entry_food.servings %> g</p>
        <p><strong>Sodium: </strong><%= @food.sodium * @entry_food.servings %> mg</p>
        <p><strong>Sugars: </strong><%= @food.sugar * @entry_food.servings %> g</p>
    </fieldset><br>
<% else %>
    <fieldset>
        <p><strong>Calories: </strong><%= @food.calories %> kcal</p>
        <p><strong>Carbohydrates: </strong><%= @food.carbs %> g</p> 
        <p><strong>Fat: </strong><%= @food.fat %> g</p>
        <p><strong>Protein: </strong><%= @food.protein %> g</p>
        <p><strong>Sodium: </strong><%= @food.sodium %> mg</p>
        <p><strong>Sugars: </strong><%= @food.sugar %> g</p>
    </fieldset><br>
<% end %>
<br>
<%= link_to "Delete Food From Entry", entry_food_path, method: :delete,  data: {confirm: "Are you sure you want to delete this food?"} %><br>
<%= link_to "Back To Entry", entry_path(@entry) %>