<h1> <%= @entry.formatted_date %></h1>

<% if @entry_foods.empty? %>
    You have not logged any foods for this entry.
<% end %>

<div class="breakfast">
    <h2>Breakfast</h2>
    <fieldset>
    <ul>
    <% @breakfast_foods.each do |entry_food| %>
        <li>
            <%= link_to entry_food.food.name, entry_food_path(entry_food) %>
        </li>
        <% end %>
    </ul>
    </fieldset>
</div>

<div class="lunch">
    <h2>Lunch</h2>
    <fieldset>
    <ul>
        <% @lunch_foods.each do |entry_food| %>
            <li>
                <%= link_to entry_food.food.name, entry_food_path(entry_food) %>
            </li>
        <% end %>
    </ul>
    </fieldset>
</div>

<div class="dinner">
    <h2>Dinner</h2>
    <fieldset>
    <ul>
    <% @dinner_foods.each do |entry_food| %>
        <li>
            <%= link_to entry_food.food.name, entry_food_path(entry_food) %>
        </li>
    <% end %>
</ul>
</fieldset>
</div>

<div class="snacks">
    <h2>Snacks</h2>
    <fieldset>
    <ul>
    <% @snack_foods.each do |entry_food| %>
        <li>
            <%= link_to entry_food.food.name, entry_food_path(entry_food) %>
        </li>
    <% end %>
</ul>
</fieldset>
</div>

<div class="uncategorized">
    <h2>Uncategorized</h2>
    <fieldset>
    <ul>
    <% @uncat_foods.each do |entry_food| %>
        <li>
            <%= link_to entry_food.food.name, entry_food_path(entry_food) %>
        </li>
    <% end %>
</ul>
</fieldset>
</div>

<br>
<br>
<%= link_to "Update Entry", edit_entry_path %><br>
<%= link_to "Delete Entry", entry_path, method: :delete, data: {confirm: "Are you sure you want to delete this entry?"} %>







