<%= link_to "Home", root_path %><br>

<h1>Entry for <%= @entry.date %></h1>

<fieldset>
    <% if !@entry_foods %>
        You have not logged any foods.
    <% else %>
        <% @entry_foods.each do |entry_food| %>
            <%= entry_food.name %>
        <% end %>
    <% end %>
</fieldset>
<br>
<%= link_to "Edit", edit_entry_path %><br>
<%= link_to "Delete Entry", entry_path, method: :delete, data: {confirm: "Are you sure you want to delete this entry?"} %>







