<%= link_to "Home", root_path %><br>

<h1>Update Food Record</h1>

<%= form_for @food do |f| %>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name, placeholder: "n/a" %><br>

    <%= f.label :serving_size, "Serving Size:" %>
    <%= f.number_field :serving_size, placeholder: "n/a", step: :any %>

    <%= f.label :serving_unit_grams, "g" %>
    <%= f.radio_button :serving_unit, "g" %>
    <%= f.label :serving_unit_tbsp, "tbsp(s)" %>
    <%= f.radio_button :serving_unit, "tbsp(s)" %>
    <%= f.label :serving_unit_tsp, "tsp(s)" %>
    <%= f.radio_button :serving_unit, "tsp(s)" %>
    <%= f.label :serving_unit_cups, "cup(s)" %>
    <%= f.radio_button :serving_unit, "cup(s)" %><br>
    
    <%= f.label :calories, "Calories (kcal):" %>
    <%= f.number_field :calories, placeholder: "n/a", step: :any %><br>

    <%= f.label :carbs, "Carbohydrates (g):" %>
    <%= f.number_field :carbs, placeholder: "n/a", step: :any %><br>

    <%= f.label :fat, "Fat (g):" %>
    <%= f.number_field :fat, placeholder: "n/a", step: :any %><br>

    <%= f.label :protein, "Protein (g):" %>
    <%= f.number_field :protein, placeholder: "n/a", step: :any %><br>

    <%= f.label :sodium, "Sodium (mg):" %>
    <%= f.number_field :sodium, placeholder: "n/a", step: :any %><br>

    <%= f.label :sugar, "Sugars (g):" %>
    <%= f.number_field :sugar, placeholder: "n/a", step: :any %><br><br>
    
    <%= f.submit "Update" %>
<% end %>


<%= link_to "Delete Record", food_path, method: :delete, data: {confirm: "Are you sure you want to delete this food record?"} %>