<h3><strong><%= @food.name %></strong></h3>

<p><strong>Calories: </strong><%= @food.calories %> kcal</p>
<p><strong>Carbohydrates: </strong><%= @food.carbs %> g</p> 
<p><strong>Fat: </strong><%= @food.fat %> g</p>
<p><strong>Protein: </strong><%= @food.protein %> g</p>
<p><strong>Sodium: </strong><%= @food.sodium %> mg</p>
<p><strong>Sugars: </strong><%= @food.sugar %> g</p>

<%= link_to "Edit Record", edit_food_path %><br>
<%= link_to "Delete Record", food_path, method: :delete, data: {confirm: "Are you sure you want to delete this food record?"} %><br>
