<section>
    <h1>Create Entry</h1>
    <%= form_for(@entry) do |f| %>
        <p> 
            Date: <%= f.date_field :entry_date %> 
        </p>

        <%= f.fields_for :meals do |meal_builder| %>
            <fieldset>
                <legend>Breakfast</legend>
                <p>
                    <%= meal_builder.label 'My Foods' %><br>
                    <%= collection_select



                    <label>Breakfast</label>
                    <input type="text" name="user[daily_entries_attributes][][breakfast]">
                </p>
                <p>
                    <label>Lunch</label>
                    <input type="text" name="user[daily_entries_attributes][][lunch]">
                </p>
                <p>
                    <label>Dinner</label>
                    <input type="text" name="user[daily_entries_attributes][][dinner]">
                </p>
                <p>
                    <label>Snacks</label>
                    <input type="text" name="user[daily_entries_attributes][][snacks]">
                </p>
            </fieldset>

        :daily_entries_attributes => [
            {:meal: , }

        ]



        <%= f.submit :Save %>
    <% end %>
</section>







def daily_entries_attributes=(daily_entries_attributes)
    daily_entries_attributes.each do |entry_attributes|
        self.daily_entries.build(entry_attributes)
    end 
end